.App {
  text-align: center;
  width: 100%;
  max-width: 640px;

  margin: 20 auto;
}

.App .mainname {
  height: 65px;
  margin: 16px auto 28px;
  font-size: 28px;
}

.App .user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .background-App {
  background-color: rgb(86, 38, 131);
}
.App .usermy {
  background-color: rgb(72, 9, 131);
  width: 100px;
  height: 100px;

  border-radius: 30px;
}
.App .users {
  font-size: 72px;
}
.App .useryou {
  background-color: rgb(72, 9, 131);
  width: 100px;
  height: 100px;

  border-radius: 30px;
}
