* {
  box-sizing: border-box;
}
body {
  background-color: rgb(61, 59, 59);
  color: antiquewhite;
}
.main {
  height: 100vh;
}
.name {
  display: flex;
  justify-content: center;

  color: rgba(255, 255, 255, 0.808);
}

/* .pushBtn {
  text-decoration: none;
  color: aliceblue;
} */
.pushBtn {
  color: #4dbde5;
  transition: 0.3s;
  position: relative;
}
.pushBtn::before,
.pushBtn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  left: 0;
  transition: 0.3s;
}
.pushBtn::before {
  top: 0;
}
.pushBtn::after {
  bottom: 0;
}

.pushBtn:hover {
  letter-spacing: 5px;
}
.pushBtn:hover::before,
.pushBtn:hover::after {
  background-color: #4dbde5;
  transform: scaleX(1);
}
